.head{
    background-color: blue;
    padding: 20px;
}

.headerleft{
    color: aliceblue;
}

.headermiddle .img1{
    border: 5px dotted ;
    border-radius: 50%;
    
}

h2{
    background-color: rgb(127, 255, 212);
    flex-direction: row;
    padding: 10px;
}
body{
    background-color: aqua;
    border: 4px dotted;
    padding: 100px;

}
#pic img{
    justify-content: center;
}
b{
    background-color:rosybrown;
}