.head{
    background-color: blue;
    padding: 20px;
    border-radius: 20px;
}

.headerleft{
    color: aliceblue;
}

.headermiddle .img1{
    border: 5px dotted ;
    border-radius: 50%;
    
}

h2{
    background-color: rgb(127, 255, 212);
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}
body{
    background-color: rgb(8, 172, 5);
    border: 4px dotted;
    padding: 100px;
}

b{
   
    padding: 3px;
}
.tablepro{
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}